// #videoContainer {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     bottom: 0;
//     right: 0;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }
// .videoContainer {
//     /* optional */
//     height: 922px;
//     width: 1458px;
// }
.videoContainer {
    position: relative;
    width: 100%;
    height: 922px;
}


/* Make the image responsive */

.iframe {
    width: 100%;
    height: 922px;
}


/* Style the button and place it in the middle of the container/image */

.videoContainer .imagevideo {
    position: absolute;
    top: 72px;
    left: 45px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}