* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $text-color;
    font-family: $font-family;
    background-color: $background-body;
}

html.debug {
    //  background: transparent url("./../movie-images/01-search.jpg") no-repeat top left;

    background-color: $background-body;
    background-size: 100%;

    body {
        opacity: 0.7;
        width:100%;
    }
}

a {
    text-decoration: none;
    color: white;
}

.row {
    a {
        @include flexy;
    }
}

.first-line {
    margin-bottom: 95px;
}

progress[value] {
    /* Reset the default appearance */
    @extend %appearence;

    height: 4px;
    width: 132px;
    margin-left: 44px;
    background-color: red;
}

progress::-webkit-progress-value {
    @extend %appearence;

    color: red;
    background-color: red;
}

progress[value="0"] {
    visibility: hidden;
}
