footer {
    height: 246px;
    width: 849px;
    margin-left: 229px;
    margin-top: 129px;
    margin-bottom: 35px;

    a:hover {
        text-decoration: underline;
    }

    img:not(#tweet) {
        margin-right: 26px;
    }

    #tweet {
        margin-right: 18px;
    }

    #copyright {
        margin-top: 61px;
        margin-left: 0;
        height: 17px;
        width: 116px;

        @include font($size: 0.875rem, $space: 0.11px, $line: 17px, $color:$color-hover);
    }

    li {
        @include font($size: 0.8125rem, $space: 0.25px, $line: 16px, $color:$color-hover);

        margin-bottom: 15px;
    }

    .social:hover {
        transform: scale(1.2);
    }

    .footer-list {
        @include flexy($dir: row, $just: space-between);
    }

    .social-1 {
        @include flexy($dir: row);
    }

    .social-4 {
        padding-right: 45px;
    }

    .social-3 {
        padding-right: 18px;
    }
}
