.image-rows {
    margin-right: 5px;
}

.row {
    @include flexy($dir: row);
    margin-bottom: 39px;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    overflow-y: scroll;
    width: 100%;
    image {
        height: 121.69px;
        width: 216px;
    }
}

.main {
    margin-left: 58px;
    .scroll-3 {
        margin-left: 5px;
    }
    .scroll-4 {
        margin-top: -3px;
        margin-left: 3px;
    }
    .scroll-5 {
        margin-top: 41px;
        margin-left: 2px;
    }
    .scroll-6 {
        margin-left: 2px;
        margin-top: 41px;
    }
    .scroll-7 {
        margin-left: 3px;
    }
    .scroll-8 {
        margin-top: -3px;
    }
    .scroll-9 {
        margin-top: 41px;
    }
    .scroll-10 {
        margin-top: 40px;
    }
}

// .original {
//     position: relative;
//     width: 50%;
// }
// #test {
//     opacity: 1;
//     display: block;
//     width: 100%;
//     height: auto;
//     transition: .5s ease;
//     backface-visibility: hidden;
// }
// .middle {
//     transition: .5s ease;
//     opacity: 0;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     -ms-transform: translate(-50%, -50%);
//     text-align: center;
// }
// .original:hover #test {
//     opacity: 0.3;
// }
// .original:hover .middle {
//     opacity: 1;
// }
// .text {
//     background-color: #4CAF50;
//     color: white;
//     font-size: 16px;
//     padding: 16px 32px;
// }
//Overlay hover photos