.row-carousel {
    @include flexy($dir: row);

    margin-bottom: 16px;
    overflow-x: scroll;
    overflow-y: hidden;

    .image-rows {
        margin-right: 5px;
    }

    image {
        height: 121.69px;
        width: 216px;
    }
}

.main-carousel {
    overflow: -moz-scrollbars-none;

    ::-webkit-scrollbar {
        visibility: hidden;
    }

    margin-left: 58px;

    .scroll-3 {
        margin-left: 5px;
    }

    .scroll-4 {
     
        margin-left: 3px;
    }

    .scroll-5 {
       
        margin-left: 2px;
    }

    .scroll-6 {
        margin-left: 2px;
      
    }

    .scroll-7 {
        margin-left: 3px;
    }

    .scroll-8 {
      
    }

    .scroll-9 {
       
    }

    .scroll-10 {
       
    }
}
