.image-rows {
    margin-right: 5px;
}

.row {
    @include flexy($dir: row);

    margin-bottom: 39px;
    overflow-x: hidden;

    /* Hide horizontal scrollbar */

    overflow-y: hidden;
    overflow-x: scroll;
    width: 100%;

    image {
        height: 121.69px;
        width: 216px;
    }
}

.main {
    margin-left: 58px;

    .scroll-3 {
        margin-left: 5px;
    }

    .scroll-4 {
        margin-top: -3px;
        margin-left: 3px;
    }

    .scroll-5 {
        margin-top: 41px;
        margin-left: 2px;
    }

    .scroll-6 {
        margin-left: 2px;
        margin-top: 41px;
    }

    .scroll-7 {
        margin-left: 3px;
    }

    .scroll-8 {
        margin-top: -3px;
    }

    .scroll-9 {
        margin-top: 41px;
    }

    .scroll-10 {
        margin-top: 40px;
    }
}
