@mixin flexy($disp: flex, $dir: null, $wrap: null, $just: null, $align: null, $align-s: null) {
    display: $disp;
    flex-direction: $dir;
    flex-wrap: $wrap;
    justify-content: $just;
    align-items: $align;
    align-self: $align-s;
}

// Media Queries
@mixin media($size) {
    @media (min-width: $size) {
        @content;
    }
}

//Placeholder mixin
@mixin placeholder($color, $size: "") {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin font($family: "Helvetica", $size: null, $weight: null, $line: null, $space: null, $color: null) {
    color: $color;
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    line-height: $line;
    letter-spacing: $space;
    @content
}
