.h-buttons {
  margin-left: 58px;
  margin-bottom: 16px;
  .btn-2 {
    margin-left: 10px;
    height: 41px;
    width: 154px;
  }
  button {
    padding: 0;
    border: none;
    height: 41px;
    width: 129px;
    border-radius: 3px;
    background-color: rgba(51, 51, 51, 0.4);
    color: $text-color;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.2px;
    line-height: 19px;
    .play {
      margin-right: 10px;
    }
    .plus {
      padding-right: 5px;
    }
  }
}
