.h-buttons {
    margin-left: 58px;
    margin-bottom: 13px;

    @include media(320px) {
        display: none;
    }


    .btn-2 {
        margin-left: 7px;
        height: 41px;
        width: 11.8%;
    }

    button {
        padding-bottom: 8px;
        border: none;
        height: 41px;
        width: 8.95%;
        border-radius: 3px;
        background-color: rgba(51, 51, 51, 0.4);

        &:hover {
            color: black;
            background-color: $text-color;

            @extend %transition;
        }

        @include font($size: 16px, $space: 0.2px, $line: 19px, $weight: bold, $color: $text-color);
        @include media(1200px) {
            font-size: get-vw(20px);
            padding-bottom: 0%;
        }


        .fa-play {
            margin-right: 5px;
        }

        .fa-plus {
            padding: 1px 8px 0 4px;
        }
    }
}

.age {
    height: 19px;
    width: 28px;

    @include font($size: 16px, $space: 0.16px, $line: 19px, $weight: bold, $color: $text-color);

    margin-left: 2px;
    padding: 9px 51px 6px 13px;
    border-left: 3px solid $text-color;
    background-color: #252928;

    @include media(320px) {
        display: none;
    }
}

.age-icon {
    position: absolute;
    right: 0;
    top: 512px;
}
