a.social {
    display: inline-block;
    text-indent: -9999px;
    height: 26px;
    width: 26px;
    background-size: 60px 60px;
    opacity: .9;
    transition: all .3s;
}

.social:hover {
    transform: scale(1.2)
}

a.facebook {
    background-image: url(./../../icons.svg/facebook.svg);
}

a.instagram {
    background-image: url(./../../icons.svg/instagram.svg);
}

a.twitter {
    background-image: url(./../../icons.svg/twitter.svg);
}

a.youtube {
    background-image: url(./../../icons.svg/youtube-play.svg);
}