header {
    background: url("./../../movie-images/background.svg") no-repeat top center;
    background-size: cover;
    overflow: hidden;
    height: 810.44px;
    width: 100%;
    margin-bottom: -250px;
}