.image-header {
    height: 74.31px;
    width: 459.12px;
    margin-bottom: 28px;
    margin-left: 61px;
}

.originals-container {
    @include flexy($dir: row);
    overflow-x: hidden;
    overflow-y: visible;
    margin-bottom: 60px;
    margin-left: 58px;
    overflow: scroll;
    width: 100%;
    /* Hide horizontal scrollbar */
}

.image-rows {
    margin-right: 5px;
}

.row {
    @include flexy($dir: row);
    margin-left: 60px;
    margin-bottom: 35px;
    /* Hide horizontal scrollbar */
    overflow: scroll;
    width: 100%;
    image {
        height: 121.69px;
        width: 216px;
    }
}

//OVERLAY
.oval {
    border-radius: 50%;
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    border: 1px solid #FFFFFF;
    background-color: rgba(0, 0, 0, 0.51);
}

#firstspan {
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 16px;
    letter-spacing: 1.2px;
    line-height: 19px;
}

#span4 {
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 17px;
}

#span3 {
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0.3px;
    line-height: 17px;
    border: 1px solid rgba(255, 255, 255, 0.41);
}

#span2 {
    width: 74px;
    color: #46D36A;
    font-family: Helvetica;
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 17px;
}

#overlayp {
    width: 195px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 18px;
}

.photo-overlay {
    position: absolute;
    bottom: 43px;
    left: 12px;
    @include flexy($dir: column);
}

.photo-overlay {
    opacity: 0;
    transition: .5s;
    &:hover {
        opacity: 1;
    }
}

.fa {
    position: absolute;
    top: 9px;
    left: 12px;
}

.playicon {
    position: relative;
}

.photo {
    position: relative;
    overflow: hidden;
}