.image-header {
    margin-top: 255px;
    height: 74.31px;
    width: 100%;

    // width: 459.12px;
    margin-bottom: 28px;
    margin-left: 61px;
}

.originals-container {
    @include flexy($dir: row);

    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 44px;
    margin-left: 58px;
}

::-webkit-scrollbar {
    visibility: hidden;
}

.image-rows {
    margin-right: 5px;
    opacity: 1;

    &:hover {
        // opacity: 0.3;
        transition: opacity 0.2s ease-out;
        -moz-transition: opacity 0.2s ease-out;
        -webkit-transition: opacity 0.2s ease-out;
        -o-transition: opacity 0.2s ease-out;
    }
}

.row {
    @include flexy($dir: row);

    margin-left: 60px;
    margin-bottom: 18px;

    /* Hide horizontal scrollbar */
    overflow-x: scroll;
    overflow-y: hidden;

    image {
        width: 100%;
    }
}

//OVERLAY
.oval {
    border-radius: 50%;
    box-sizing: border-box;
    height: 35px;
    width: 35px;
    border: 1px solid $text-color;
    background-color: rgba(0, 0, 0, 0.51);
}

.firstspan {
    @include font($size: 1.25rem, $space: 1.2px, $line: 19px, $color: $text-color);
}

.span4 {
    @include font($size: 0.875rem, $space: 0.3px, $line: 17px, $color: $text-color);
}

.span3 {
    @include font($size: 0.875rem, $space: 0.3px, $line: 17px, $color: $text-color);

    border: 1px solid rgba(255, 255, 255, 0.41);
}

.span2 {
    @include font($size: 0.875rem, $space: 0.4px, $line: 17px, $color: #46d36a);

    width: 74px;
}

.overlayp {
    width: 195px;

    @include font($size: 0.875rem, $line: 18px, $color: $text-color);
}

.photo-overlay {
    position: absolute;
    bottom: 43px;
    left: 12px;

    @include flexy($dir: column);
}

.photo-overlay {
    opacity: 0;
    transition: 0.5s;

    &:hover {
        opacity: 1;
    }
}

.fa {
    color: red;
    position: absolute;
    top: 9px;
    left: 12px;
}

.playicon {
    position: relative;
}

.photo {
    position: relative;
    overflow: hidden;
}

//OVERLAY-1
.oval-1 {
    border-radius: 50%;
    box-sizing: border-box;
    height: 23.73px;
    width: 23.72px;
    border: 1px solid $text-color;
    background-color: rgba(0, 0, 0, 0.51);
}

.firstspan-1 {
   
    @include font($size: 13px, $space: 0.2px, $line: 17px, $color: $text-color);
}

.span4-1 {
    @include font($size: 12px, $space: 0.2px, $line: 15px, $color: $text-color);
}

.span3-1 {
    @include font($size: 14px, $space: 0.3px, $line: 17px, $color: $text-color);

    border: 1px solid rgba(255, 255, 255, 0.41);
}

.span2-1 {
    @include font($size: 14px, $space: 0.4px, $line: 17px, $color: #46d36a);

    height: 17px;
    width: 74px;
}

.overlayp-1 {
   

    @include font($size: 11px, $line: 14px, $color: $text-color);
}

.photo-overlay-1 {
    position: absolute;
    bottom: 20px;
    left: 4px;

    @include flexy($dir: column);
}

.photo-overlay-1 {
    opacity: 0;
    transition: 0.5s;

    &:hover {
        opacity: 1;
    }
}

.fa-1 {
   height: 7.45px;	width: 8.81px;
    color: red;
    position: absolute;
    top: 3px;
    left: 7px;
}

.playicon-1 {
    position: relative;
}

.photo-1 {
    position: relative;
    overflow: hidden;
}
