// .top-nav {
//     @include flexy($dir: row);

//     &:hover {
//         background-color: #141414;
//     }

// top: 0;
a {
    text-decoration: none;
    color: white;

    &:hover {
        opacity: 0.5;

        @extend %transition;
    }
}

.active {
    font-weight: bold;
    margin-left: 43px;
}

#nav-item4 {
    margin-right: 15px;
}

nav {
    // @include flexy($dir: row);

    ul {
        margin-left: 45px;
        align-self: center;
        margin-top: 19px;

        @include flexy($dir: row, $align: center);
    }

    li {
        margin-right: 18px;
        color: $text-color;
        font-size: 0.875rem;
        letter-spacing: 0.5px;
        line-height: 17px;
    }
}

.logo {
    margin-left: 14px;
}

form {
    position: relative;
    margin-left: auto;
    margin-right: 29px;
    height: 34px;
    width: 268px;
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: 29px;
    height: 34px;
    width: 268px;
    justify-content: flex-end;

    label {
        position: absolute;
        top: 0;
        transform: translateY(30%);
    }
}

#search {
    padding-left: 30px;
    height: 34px;
    background: transparent;
    border: none;

    // border: 1px solid #DDDDDD;
    // background-color: #1D1C1D;
    @include placeholder(white, 10px);

    // width: 268px;
    width: 0;
    outline: none;

    &:focus {
        border: 1px solid #DDDDDD;
        background-color: #1D1C1D;
        width: 222px;

        @include placeholder(white, 10px);

        transition: All 1s ease;
        -webkit-transition: All 1s ease;
        -moz-transition: All 1s ease;
        -o-transition: All 1s ease;
    }
}

::placeholder {
    width: 139px;
    color: $text-color;
    font-family: Helvetica;
    font-size: 0.9375rem;
    letter-spacing: -0.2px;
    line-height: 18px;

    @include placeholder(white, 10px);
}
