// .top-nav {
//     @include flexy($dir: row);

//     &:hover {
//         background-color: #141414;
//     }

// top: 0;
a {
    text-decoration: none;
    color: white;

    &:hover {
        opacity: 0.5;

        @extend %transition;
    }
}

nav {
    .active {
        font-weight: bold;
        margin-left: 44px;
    }

    #nav-item4 {
        margin-right: 15px;
    }

    ul {
        margin-left: 45px;
        align-self: center;
        margin-top: 21px;

        @include flexy($dir: row, $align: center);
    }

    li {
        margin-right: 18px;
        color: $text-color;
        font-size: 0.875rem;
        letter-spacing: 0.5px;
        line-height: 17px;
    }
}

.logo {
    margin-left: 13px;
}

.custom-search {
    position: absolute;
    right: 52px;
    top: 14px;
}

#express-form-typeahead {
    background-color: transparent;
    background-image: url(./../icons/lupa.svg);
    background-position: 5px center;
    background-repeat: no-repeat;
    border: none;
    color: white;
    cursor: pointer;
    height: 37px;
    padding: 0 0 0 34px;
    position: relative;
    -webkit-transition: width 800ms ease, background 800ms ease-out;
    transition: width 800ms ease, background 800ms ease-out;
    width: 0;
}

#express-form-typeahead:focus {
    // border: 1px solid #DDDDDD;
    background-color: #1D1C1D;
    cursor: text;
    outline: 0;
    width: 268px;
}

.search-btn {
    display: none;
}

input[type="search"] {
    -webkit-appearance: textfield;
    color: white;
}
