.top-nav {
    @include flexy($dir: row);
    &:hover {
        background-color: #141414;
    }
    // position: fixed;
    // top: 0;
    a {
        text-decoration: none;
        color: white;
        &:hover {
            opacity: 0.5;
            @extend %transition;
        }
    }
    .active {
        font-weight: bold;
    }
    #nav-item4 {
        margin-right: 15px;
    }
    nav {
        @include flexy($dir: row);
        ul {
            margin-left: 45px;
            align-self: center;
            margin-top: 19px;
            @include flexy($dir: row, $align: center);
        }
        li {
            margin-right: 18px;
            color: $text-color;
            font-family: Helvetica;
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 17px;
        }
    }
}

.logo {
    margin-left: 58px;
    margin-top: 21px;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    position: absolute;
    right: 59px;
    top: 17px;
}

a.icon {
    z-index: 999;
    padding: 10px;
    position: absolute;
    right: 232px;
    bottom: -7px;
}

.input-field {
    height: 34px;
    width: 268px;
    outline: none;
}

.input-field:focus {
    border: 1px solid #DDDDDD;
    background-color: #1D1C1D;
}

input[type="text"] {
    direction: rtl;
    background: transparent;
    border: none;
}

::placeholder {
    width: 139px;
    color: #7F7F7F;
    font-family: Helvetica;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 18px;
}


/* webkit solution */

::-webkit-input-placeholder {
    text-align: center;
    text-indent: 100%;
}


/* mozilla solution - this is for firefox 18+ */

::-moz-placeholder {
    text-align: right;
}


/* mozilla solution - this is for firefox 18- */

:-moz-placeholder {
    text-align: right;
}