* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    // height: 2572px;
    // width: 1440px;
    // width: calc(100% - 60px);
    // height:auto;
    // width: 90%;

    color: $text-color;
    font-family: $font-family;
    background-color: $background-body;
}

html.debug {
    width: 100%;
    background: transparent url("./../movie-images/00-home-with-hovers.jpg") no-repeat top left;
    background-size: 100%;

    body {
        opacity: 0.7;
    }
}

a {
    text-decoration: none;
    color: white;
}

// .container {
//     width: 100%;
//     margin: auto;
// }

.row {
    a {
        @include flexy;
    }
}

p {
    margin: 3px 0 0 59px;
    height: 75px;
    width: 485px;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.2px;
    line-height: 25px;
}

h3 {
    margin: 0 0 0 59px;
    height: 26px;
    width: 225px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 0.22px;
    line-height: 26px;
}

h1 {
    margin-left: 58px;
    margin-top: 62px;
    margin-bottom: 8px;
    height: 24px;
    width: 203px;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.16px;
    line-height: 24px;
}

h2 {
    margin-bottom: 10px;
    margin-left: 58px;
    margin-top: 0;
    height: 24px;
    width: 185px;
    color: #ffffff;
    font-family: Helvetica;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.16px;
    line-height: 24px;
}

.first-line {
    margin-bottom: -50px;
}

progress[value] {
    /* Reset the default appearance */
    @extend %appearence;

    height: 4px;
    width: 132px;
    margin-left: 44px;
    background-color: red;
}

progress::-webkit-progress-value {
    @extend %appearence;

    color: red;
    background-color: red;
}

progress[value="0"] {
    visibility: hidden;
}

.input-container {
    display: -ms-flexbox;

    /* IE10 */
    display: flex;

    // margin-bottom: 15px;
    position: absolute;
    right: 59px;
    top: 17px;
}

.icon {
    padding: 10px;
    position: absolute;
    right: 230px;
    bottom: -4px;
}

.input-field {
    height: 34px;
    width: 268px;

    // border: 1px solid #DDDDDD;
    // background-color: #1D1C1D;
    outline: none;
}

.input-field:focus {
    border: 1px solid #DDDDDD;
    background-color: #1D1C1D;
}

input[type="text"] {
    background: transparent;
    border: none;
}

::placeholder {
    // margin-left: 80px;
    width: 139px;
    color: #7F7F7F;
    font-family: Helvetica;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 18px;
}

// ::-moz-placeholder,
//  :-moz-placeholder {
//     text-align: right !important;
// }

/* webkit solution */

::-webkit-input-placeholder {
    text-align: center;
}

/* mozilla solution - this is for firefox 18+ */

::-moz-placeholder {
    text-align: right;
}

/* mozilla solution - this is for firefox 18- */

:-moz-placeholder {
    text-align: right;
}

// .wrapper input[type="text"] {
//     position: relative;
// }
// input {
//     font-family: 'FontAwesome';
// }
// /* This is for the placeholder
// .wrapper:before {
//     font-family: 'FontAwesome';
//     color: red;
//     position: relative;
//     left: -5px;
//     content: "\f002";
// }
// form {
//     position: relative;
// }
// input[type=text] {
//     font-family: 'FontAwesome';
//     height: 34px;
//     width: 268px;
//     border: 1px solid #DDDDDD;
//     background-color: #1D1C1D;
//     position: absolute;
// }
// .search {
//     // position: absolute;
//     right: 302px;
//     top: 24px;
//     z-index: 2;
// }
